In [2]:
import pandas as pd

In [3]:
userspp = pd.read_csv('userspp.csv')

In [6]:
userspp = userspp.drop('age', axis = 1)

In [12]:
userspp

       user_id location_country
0            8           canada
1        11400           canada
2        11676           others
3        67544           canada
4        85526           canada
...        ...              ...
68087   278376              usa
68088   278621           canada
68089   278636              usa
68090   278659           canada
68091   278713              usa

[68092 rows x 2 columns]

In [7]:
userspp.to_csv('userspp2.csv', index = False)

In [8]:
bookspp = pd.read_csv('./data/bookspp.csv')

In [11]:
bookspp['year_of_publication'].value_counts()

2    82749
1    35910
3    23809
4     5636
5     1466
Name: year_of_publication, dtype: int64